<div class="header" id="dlaczego_brandico">
	<h2 class="header__top">Dlaczego Brandico</h2>
	<h4 class="header__bottom">Skąd pomysł na nazwę</h4>
</div>
<div class="container why__content">
	<h1 class="why__name orange-text">Brandico</h1>
	<p class="why__description"><span class="orange-text">brand</span> – amer. IPA: /bɹænd/ – znaczenia: rzeczownik (1.1) marka + <span class="orange-text">i co?</span><br>– pytanie, które zadajemy sobie nieustannie. Co dalej? Co, z czym, jak i dlaczego? Bo tacy już jesteśmy.</p>
	<div class="why__line"></div>
	<p class="why__more-description">Ciągle nas coś nurtuje, stale czegoś nie wiemy i szukamy rozwiązań, jak zrobić, by się dowiedzieć. Dlatego powstało koło. W końcu co dwie głowy, to nie jedna, a my mamy ich
	na stanie prawie trzydzieści!
</p>
</div>
