<div class="hero__container">
	<div class="container hero__slide">
		<div class="hero__content" data-background="./img/projekty/pomarańczowe/projekty_warsztaty.jpg">
			<img class="hero__logo" src="./img/loga_brandico/logo_sygnet_białe.png" alt="Logo Brandico">
			<h1 class="hero__header">Brandico</h1>
			<p class="hero__description">Studenckie Koło Naukowe działające przy Instytucie Dziennikarstwa i Komunikacji Społecznej Uniwersytetu Wrocławskiego.</p>
			<div class="hero__button">Start</div>
			<i class="fa fa-chevron-down hero" aria-hidden="true"></i>
		</div>
		<div class="hero__content" data-background="./img/projekty/pomarańczowe/projekty_content_marketing.jpg">
			<img class="hero__logo" src="./img/loga_brandico/logo_sygnet_białe.png" alt="Logo Brandico">
			<h1 class="hero__header">Brandico</h1>
			<p class="hero__description">Studenckie Koło Naukowe działające przy Instytucie Dziennikarstwa i Komunikacji Społecznej Uniwersytetu Wrocławskiego.</p>
			<div class="hero__button">Start</div>
			<i class="fa fa-chevron-down hero" aria-hidden="true"></i>
		</div>
		<div class="hero__content" data-background="./img/projekty/pomarańczowe/projekty_xfeb.JPG">
			<img class="hero__logo" src="./img/loga_brandico/logo_sygnet_białe.png" alt="Logo Brandico">
			<h1 class="hero__header">Brandico</h1>
			<p class="hero__description">Studenckie Koło Naukowe działające przy Instytucie Dziennikarstwa i Komunikacji Społecznej Uniwersytetu Wrocławskiego.</p>
			<div class="hero__button">Start</div>
			<i class="fa fa-chevron-down hero" aria-hidden="true"></i>
		</div>
	</div>
	<div class="hero__controls">
		<!-- Kropki do kontroli slajdów generowane są w JavaScripcie -->
	</div>
</div>

<!-- Div dodany w celu wstępnego załadowania zdjęć -->
<!-- Nie trzeba w nim dodawać adresu do pierwszego zdjęcia ze slidera -->
<div style="display: none;">
	<img src="./img/projekty/pomarańczowe/projekty_content_marketing.jpg">
	<img src="./img/projekty/pomarańczowe/projekty_xfeb.JPG">
</div>
