@import '../../utils/zmienne';

.hero__container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - #{$menuHeight});
	background-color: $color1;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	transition: background-image 1s ease-in-out;

	@media (max-width: 1190px) {
		height: 100vh;
	}
}

.hero__slide {
	position: relative;
	height: 100%;
}

.hero__content {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - #{$menuHeight});
	opacity: 0;
	transition: all .6s ease-in-out;

	&.active {
		opacity: 1;
	}
}

.hero__logo {
	width: 188px;
	margin-top: 180px;
}

.hero__header {
	margin: 80px 0 20px;
	font-family: $secondFont;
	font-size: 80px;
	font-weight: 900;
	line-height: 1;
	text-transform: uppercase;
}

.hero__description {
	margin: 0 0 150px;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.4;
	text-align: center;
}

.hero__button {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 100px;
	min-height: 40px;
	border-radius: 20px;
	margin-top: auto;
	margin-bottom: 14px;
	background-color: rgba($color1, .43);
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;

   &:hover {
      transition: all .3s;
      background-color: rgba($color1, .63);
      cursor: pointer;
   }
}

.fa-chevron-down.hero {
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 60px;
	font-size: 28px;
	animation-name: arrowMove;
   animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;

	&:hover {
		cursor: pointer;
	}
}

.hero__controls {
	position: absolute;
	right: 73px;
	bottom: 100px;
	display: flex;
   height: 15px;
}

.hero__control {
	width: 12px;
   height: 12px;
	margin-right: 12px;
	border: 3px solid #fff;
   border-radius: 50%;
   cursor: pointer;

	&.active {
		background-color: rgba($color1, .47);
	}

	&:last-of-type {
		margin-right: 0;
	}
}

@keyframes arrowMove {
    0% {	top: 0; }
    50% {	top: 10px; }
	 100% {	top: 0; }
}
