<div class="hero__container">
	<div class="container">
		<div class="hero__content">
			<img class="hero__logo" src="./img/loga_brandico/logo_sygnet_białe.png" alt="Logo Brandico">
			<h1 class="hero__header">Brandico</h1>
			<p class="hero__description">Studenckie Koło Naukowe działające przy Instytucie Dziennikarstwa i Komunikacji Społecznej Uniwersytetu Wrocławskiego.</p>
			<div class="hero__button">Start</div>
			<i class="fa fa-chevron-down hero" aria-hidden="true"></i>
		</div>
	</div>
</div>
