<div class="header" id="kontakt">
	<h2 class="header__top">Kontakt</h2>
	<h4 class="header__bottom">Wpadnij, albo napisz</h4>
</div>
<div class="contact__container">
	<div class="contact__map" id="map"></div>
	<div class="contact__data">
		<div class="contact__head-data">
			<div class="contact__text-line">Kontakt</div>
			<div class="contact__line"></div>
			<div class="contact__text-line">Studenckie Koło Naukowe Brandico “Brand i co?”</div>
			<div class="contact__text-line">brandico.uwr@gmail.com</div>
			<div class="contact__text-line">FRYDERYKA JOLIOT-CURIE 15<br>50-383 WROCŁAW</div>
		</div>
		<div class="contact__socials">
			<a href="https://www.facebook.com/brandandwhat/">
				<div class="contact__social facebook"><i class="fa fa-facebook" aria-hidden="true"></i></div>
			</a>
			<a href="http://instudy.pl/profil/593e9071cb886aa21c6730e4">
				<div class="contact__social instudy"><img src="./img/social/inStudy.png" alt="Logo inStudy"></div>
			</a>
		</div>
	</div>
</div>
