<div class="header" id="jak_dołączyć">
	<h2 class="header__top">Jak do nas dołączyć</h2>
	<h4 class="header__bottom">Rekrutacja</h4>
</div>
<p class="container recrutation">Na początku każdego roku akademickiego prowadzimy rekrutację. Liczy się dla nas przede wszystkim inicjatywa i chęć do działania, niekoniecznie twarde umiejętności i certyfikaty. Obserwuj nasze media społecznościowe – tam na pewno pojawią się wszystkie niezbędne informacje o rekrutacji.<br><br>Przegapiłeś rekrutację na początku roku? Jeżeli masz jakiś pomysł, inicjatywę, w którą wspólnie możemy się zaangażować lub potrzebujesz pomocy przy realizacji jakiegoś projektu, uderzaj śmiało! Możesz nas złapać na Facebooku lub bezpośrednio na korytarzach IDiKS.
</p>
