<div class="header" id="dlaczego_brandico">
	<h2 class="header__top">Poznaj nas</h2>
	<h4 class="header__bottom">Kim jesteśmy</h4>
</div>
<p class="container members__description">Jesteśmy grupą ambitnych studentów, którzy chcą zdobywać doświadczenie i wiedzę oraz dzielić się nią z innymi. Każdy z nas jest inny i to czyni nas mocnym zespołem. Mamy wspólny cel – stać się specjalistami, kompetentnymi projektantami i pracownikami. Chcemy poszerzać horyzonty, robić wszystko mocniej, lepiej, bardziej. Są wśród nas osoby zakochane w tabelkach i wykresach, urodzeni copywriterzy, rzucający pomysłami na prawo i lewo kreatywni, ludzie z bagażem doświadczeń zawodowych i ci, którzy dopiero stawiają swoje pierwsze kroki w branży. Rozwijamy się, uczymy na własnych błędach, a przede wszystkim tworzymy zgraną ekipę.</p>
<div class="members__container">
	<div class="members__arrow">
		<i class="fa fa-chevron-left" aria-hidden="true"></i>
	</div>
	<div class="members__wrapper">
		<div class="members__wrapper-content">
			<!-- Zawartość wczytywana JavaScriptem z pliku członkowie.json -->
		</div>
	</div>
	<div class="members__arrow">
		<i class="fa fa-chevron-right" aria-hidden="true"></i>
	</div>
</div>
