<div class="header" id="projekty">
	<h2 class="header__top">Nasze projekty</h2>
	<h4 class="header__bottom">Co robimy</h4>
</div>
<div class="projects__container">
	<div class="projects__column">
		<div class="projects__title">Projekty cykliczne</div>
		<div class="project__container">
			<div class="project" id="project0">
				<!-- Zawartość projektów wczytywana przez JavaScript -->
			</div>
			<div class="project__dots" id="project0_dots">
            <!-- Kropki wczytywane przez JavaScript -->
         </div>
		</div>
	</div>
	<div class="projects__column">
		<div class="projects__title">Projekty zakończone</div>
		<div class="project__container">
			<div class="project" id="project1">
				<!-- Zawartość projektów wczytywana przez JavaScript -->
			</div>
			<div class="project__dots" id="project1_dots">
            <!-- Kropki wczytywane przez JavaScript -->
         </div>
		</div>
	</div>
</div>
