<div class="header" id="współpraca">
	<h2 class="header__top">Zróbmy coś razem</h2>
	<h4 class="header__bottom">Współpraca</h4>
</div>
<div class="container partners__text">Jako studenci komunikacji wizerunkowej na co dzień zdobywamy wiedzę z zakresu brandingu. Ciągle działamy: organizujemy eventy branżowe, warsztaty i spotkania o charakterze naukowym.  Głównym zagadnieniem, którym się zajmujemy, jest branding, ale interesujemy się też innymi tematami – badaniami, designem, metodami kreatywnymi i trendwatchingiem. Chcemy zdobywać doświadczenie i poszerzać horyzonty, dlatego chętnie się angażujemy i podejmujemy różne współprace. Zapraszamy do kontaktu!<br>Do tej pory udało nam się zorganizować kilka projektów, które współtworzyli z nami:</div>
<div class="partners__list">
	<div class="partners__title">Jako goście naszych wydarzeń:</div>
	<div class="partners__line"></div>
	<div class="partners__container">
		<div class="partners__arrow">
			<i class="fa fa-chevron-left" id="partners__left0" aria-hidden="true"></i>
		</div>
		<div class="partners__wrapper">
			<div class="partners__wrapper-content">
				<a href="http://cietyjezyk.pl/"><img src="./img/loga_inne/ciety.png" alt="Cięty Język"></a>
				<a href="https://www.jwt.com/en/poland"><img src="./img/loga_inne/lemon_sky.png" alt="J. Walter Thompson Group Poland"></a>
				<a href="http://www.neonshake.pl/"><img src="./img/loga_inne/neon.png" alt="Neon Shake"></a>
				<a href="http://www.teatr-capitol.pl/"><img src="./img/loga_inne/capitol.png" alt="Capitol"></a>
				<a href="http://www.kinonh.pl/"><img src="./img/loga_inne/nowe_horyzonty.png" alt="Stowarzyszenie Nowe Horyzonty"></a>
				<a href="https://www.facebook.com/Radzkavlog"><img src="./img/loga_inne/radzka.png" alt="Radzka"></a>
				<a href="http://secondhanddandy.pl/"><img src="./img/loga_inne/second_hand.png" alt="Secondhand Dandy"></a>
				<a href="http://fashionprtalks.pl/"><img src="./img/loga_inne/fashion.png" alt="Kasia Kwiecień"></a>
			</div>
		</div>
		<div class="partners__arrow">
			<i class="fa fa-chevron-right" id="partners__right0" aria-hidden="true"></i>
		</div>
	</div>
</div>
<div class="partners__list">
	<div class="partners__title">We współpracy:</div>
	<div class="partners__line"></div>
	<div class="partners__container">
		<div class="partners__arrow">
			<i class="fa fa-chevron-left" id="partners__left1" aria-hidden="true"></i>
		</div>
		<div class="partners__wrapper">
			<div class="partners__wrapper-content">
				<a href="https://www.facebook.com/forum.edukacji.biznesowej"><img src="./img/loga_inne/FEB-fancy.png" alt="FEB - Forum Edukacji Biznesowej"></a>
				<a href="http://www.knwd.ue.wroc.pl/"><img src="./img/loga_inne/knwd_Logo (poziomo).png" alt="KNWD - Koło Naukowe Web Designu"></a>
				<a href="http://samorzad.uni.wroc.pl/"><img src="./img/loga_inne/samorząd.png" alt="Samorząd Studentów UWr"></a>
				<a href="http://www.krolismok.pl/"><img src="./img/loga_inne/Krol-i-Smok-logo-RGB-black.png" alt="Król i Smok"></a>
			</div>
		</div>
		<div class="partners__arrow">
			<i class="fa fa-chevron-right" id="partners__right1" aria-hidden="true"></i>
		</div>
	</div>
</div>
