@import './zmienne';

@font-face {
	font-family: 'Gilroy';
	src: url('./fonts/gilroy-extrabold.otf');
}

body {
   margin: 0;
   padding: 0;
	overflow-x: hidden;
   font-family: $primaryFont, 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

body::-webkit-scrollbar-track
{
	display: none;
}

body::-webkit-scrollbar
{
	display: none;
}

body::-webkit-scrollbar-thumb
{
	display: none;
}

// Wrapper na elementy.
.container {
   box-sizing: border-box;
	width: 824px;
	margin: 0 auto;

	@media (max-width: 900px) {
		width: 700px;
	}

	@media (max-width: 750px) {
		width: 550px;
	}

	@media (max-width: 600px) {
		width: 430px;
	}

   @media (max-width: 450px) {
		width: 100%;
      padding: 0 20px;
	}
}

// Naglówki sekcji.
.header {
   margin: 120px 0 60px;
   font-family: $secondFont;
   text-align: center;
   line-height: 1;
   text-transform: uppercase;

	.header__top {
		margin: 0 0 10px;
	   font-size: 40px;
	   color: #3c3c3b;
	}

	.header__bottom {
		margin: 0;
	   font-size: 17px;
	   color: #acacac;
	}
}
