@font-face {
	font-family: 'Gilroy';
	src: url('./fonts/gilroy-extrabold.otf');
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', 'Arial', sans-serif;
}

.container {
	width: 824px;
	margin: 0 auto;
}
