<footer class="footer">
	<p class="footer__left">© BRANDICO, 2017</p>
	<div class="footer__right">
		<div class="footer__project">
			<p class="footer__mobile">Wykonanie:</p>
			<p>Projekt:</p>
			<a href="https://www.behance.net/dominikpilat">
				<img style="height: 30px;" src="./img/loga_inne/dominik_pilat_logo.png" alt="Logo - Dominik Piłat">
			</a>
		</div>
		<div class="footer__project">
			<p>Wykonanie:</p>
			<a href="http://www.knwd.ue.wroc.pl/">
				<img src="./img/loga_inne/knwd_Logo (poziomo).png" alt="Logo - Kolo Naukowe Web Designu">
			</a>
		</div>
	</div>
</footer>
