<div class="nav__container">
	<div class="nav__logos">
		<img class="nav__logo uwr" src="./img/loga_inne/logo_uwr.png" alt="Logo Uniwersytetu Wroclawskiego">
		<div class="nav__divider-light"></div>
		<img class="nav__logo brandico" src="./img/loga_brandico/logo_poziom.png" alt="Logo Brandico">
		<div class="nav__divider-dark"></div>
	</div>
	<ul class="nav__content">
		<li class="nav__item active">Home</li>
		<li class="nav__item">Dlaczego Brandico</li>
		<li class="nav__item">Kim jesteśmy</li>
		<li class="nav__item">Co robimy</li>
		<li class="nav__item">Współpraca</li>
		<li class="nav__item">Rekrutacja</li>
	</ul>
</div>
