.nav__container {
   z-index: 1000;
	display: flex;
	align-items: center;
	height: $menuHeight;
	width: 100vw;
	background-color: #fff;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   transition: all .6s;

	&.sticky {
		position: fixed;
		top: 0;
		left: 0;

      .nav__logo.uwr, .nav__divider-light, .nav__divider-dark {
         display: none;
      }

      .nav__logo.brandico {
         margin-right: 0;
         height: 40px;
      }
	}

   @media (max-width: 1190px) {
		overflow: hidden;
      height: 0;
	}
}

.nav__logos {
	display: flex;
	align-items: center;
}

.nav__logo {
	margin: 0 24px 0 30px;

   @media (max-width: 1190px) {
      margin: 0;
      position: fixed;
      top: 30px;
      left: 60px;
	}

	&.uwr {
		height: 43px;

      @media (max-width: 1670px) {
			display: none;
		}
	}

	&.brandico {
		height: 53px;

      @media (max-width: 1670px) {
			height: 43px;
		}

      @media (max-width: 1190px) {
         filter: grayscale(100%) brightness(5);
   	}
	}
}

.nav__divider-light {
	width: 1px;
	height: 34px;
	background-color: #ebebeb;

	@media (max-width: 1670px) {
		display: none;
	}
}

.nav__divider-dark {
	width: 2px;
	height: 34px;
	background-color: #3c3c3b;
}

.nav__content {
	display: flex;
	margin-left: auto;
	margin-right: 60px;
	list-style: none;

   @media (max-width: 1190px) {
		display: none;
	}
}

.nav__item {
	display: flex;
	align-items: center;
	margin-right: 30px;
	font-family: $secondFont;
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	color: #3c3c3b;
	transition: all .3s;

	&:last-of-type {
		margin-right: 0;
	}

	&:hover {
		cursor: pointer;
		opacity: .5;
	}

	&.active {
		color: $color1;

		&:hover {
			opacity: 1;
		}
	}

	@media (max-width: 1360px) {
		font-size: 19px;
		margin-right: 20px;
	}
}

.nav__filler {
   z-index: 1000;
	display: flex;
   height: 0;
   width: 100vw;
   visibility: hidden;
}

.nav__burger {
   position: fixed;
   z-index: 11;
   top: 39px;
   right: 60px;
   display: none;
   color: #fff;
   font-size: 24px;

   &.orange {
      color: $color1;
   }

   &:hover {
      cursor: pointer;
   }

   @media (max-width: 1190px) {
		display: block;
	}
}

.nav__container--mobile {
   user-select: none;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 2;
   display: none;
   width: 100vw;
   height: 100vh;
   background-color: rgba(#333, .99);
}

.nav__content--mobile {
   list-style: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.nav__item--mobile {
   display: flex;
	align-items: center;
   margin-top: 60px;
	font-family: $secondFont;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
   color: #fff;

   &:hover {
		cursor: pointer;
		opacity: .5;
	}

	&.active {
		color: $color1;

		&:hover {
			opacity: 1;
		}
	}
}
