<div class="nav__container">
	<div class="nav__logos">
		<img class="nav__logo uwr" src="./img/loga_inne/logo_uwr.png" alt="Logo Uniwersytetu Wroclawskiego">
		<div class="nav__divider-light"></div>
		<img class="nav__logo brandico" src="./img/loga_brandico/logo_poziom.png" alt="Logo Brandico">
		<div class="nav__divider-dark"></div>
	</div>
	<ul class="nav__content">
		<li class="nav__item active A_hero">Home</li>
		<li class="nav__item A_dlaczego_brandico">Dlaczego Brandico</li>
		<li class="nav__item A_poznaj_nas">Kim jesteśmy</li>
		<li class="nav__item A_projekty">Co robimy</li>
		<li class="nav__item A_współpraca">Współpraca</li>
		<li class="nav__item A_jak_dołączyć">Rekrutacja</li>
	</ul>
</div>
<div class="nav__filler"></div>
